<!-- detalle_bitacora.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Detalles de la Bitácora</h2>

  <div>
    <h4>Estudiante: {{ bitacora.estudiante }}</h4>
    <p>Planificación: {{ bitacora.planificacion }}</p>
    <p>Diagnóstico: {{ bitacora.diagnostico }}</p>
  </div>

  <h2>Nueva Bitácora</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ nueva_bitacora_form.as_p }}
    <button type="submit">Guardar Nueva Bitácora</button>
  </form>

  <h2>Bitácoras Anteriores del Estudiante</h2>

  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Temas Trabajados</th>
        <th>Avance</th>
        <th>Firma Terapeuta</th>
        <th>Revisado Por</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      {% for bitacora in bitacoras_estudiante %}
        <tr>
          <td>{{ bitacora.fecha }}</td>
          <td>{{ bitacora.temas_trabajados }}</td>
          <td>{{ bitacora.avance }}</td>
          <td>{{ bitacora.firma_terapeuta }}</td>
          <td>{{ bitacora.revisado_por }}</td>
          <td>
            <!-- Agrega enlaces para editar o eliminar según tus necesidades -->
            <a href="#">Editar</a> |
            <a href="#">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
