{% extends 'layout.html' %}

{% block content %}
<section class="section">
  <div class="section-body">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Modulo Predictivo</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <ul id="fases"> <!-- Alineación a la izquierda -->
                  <li id="fase1" class="fase btn btn-primary btn-lg completo" onclick="mostrarDetalles('fase1')">Fase 1: Selección</li>
                  <li id="fase2" class="fase btn btn-primary btn-lg" onclick="mostrarDetalles('fase2')" disabled>Fase 2: Transformación</li>
                  <li id="fase3" class="fase btn btn-primary btn-lg" onclick="mostrarDetalles('fase3')" disabled>Fase 3: Carga</li>
                  <li id="fase4" class="fase btn btn-primary btn-lg" onclick="mostrarDetalles('fase4')" disabled>Fase 4: Predicción</li>
                </ul>
              </div>
              <div class="col-md-9">
                <div class="card">
                  <div class="card-header">
                    {% if estudiante %}
                      <h4>Detalles del Estudiante</h4>
                    {% else %}
                      <h4>Detalles de la Fase 1</h4>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    {% if estudiante %}
                      <div class="card-body">
                        <p class="card-text">Estudiante: {{ estudiante.nombre }} {{ estudiante.apellido }}</p>
                        <p class="card-text">Edad: {{ estudiante.edad }}</p>
                      </div>
                      <div class="mb-3 d-flex flex-row">
                        <button class="btn btn-info mr-2" onclick="toggleDetallesEstudiante()">Detalles</button>
                        <form id="transformarForm" method="post" action="{% url 'detalle_estudiante_tdah' estudiante.id %}">
                          {% csrf_token %}
                          <input type="hidden" name="estudiante_id" value="{{ estudiante.id }}">
                          <button class="btn btn-primary mr-2" type="button" onclick="transformarDatos()">Transformar Datos</button>
                        </form>
                        <button id="btnSiguienteFase2" class="btn btn-success" onclick="avanzarFase(2)" disabled data-id-estudiante="">Siguiente Fase</button>
                      </div>
                      
                      <!-- Detalles del estudiante (fase 2) -->
                      <div id="detalles_estudiante" style="display: none;">
                        <h5></h5>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sexo</th>
                                        <th class="text-center">Edad</th>
                                        <th class="text-center">Observación de Conducta</th>
                                        <th class="text-center">Temas Trabajados</th>
                                        <th class="text-center">Avance</th>
                                        <th class="text-center">Asistencias</th>
                                        <!-- Agrega otros campos según sea necesario -->
                                    </tr>
                                </thead>
                                <tbody id="detalles_estudiante_body">
                                  {% for bitacora in bitacoras %}
                                    <tr>
                                        <td class="text-center">{{ estudiante.genero }}</td>
                                        <td class="text-center">{{ estudiante.edad }}</td>
                                        <td class="text-center">{{ bitacora.observacion_conducta }}</td>
                                        <td class="text-center">{{ bitacora.temas_trabajados }}</td>
                                        <td class="text-center">{{ bitacora.avance }}</td>
                                        <td class="text-center">{{ bitacora.asistencias }}</td>
                                        <!-- Aquí debes acceder a los otros campos del estudiante según sea necesario -->
                                    </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-danger" id="btnOcultarDetallesEstudiante" style="display: none;" onclick="toggleDetallesEstudiante()">Ocultar</button>
                      </div>
                      <!-- Botón de siguiente fase -->
                      
                    {% else %}
                      <!-- Detalles de la fase 1 -->
                      <h5>Selección de estudiante a predecir</h5>
                      <p>Aquí puedes seleccionar un estudiante de la lista.</p>
                      <div class="list-group" id="lista_estudiantes">
                        {% for planificacion in estudiantes_tdah %}
                          <a href="#" class="list-group-item list-group-item-action" onclick="seleccionarEstudiante('{{ planificacion.estudiante.pk }}')"> <!-- Corregido aquí -->
                            {{ planificacion.estudiante.nombre_completo }}
                          </a>
                        {% endfor %}
                      </div>
                      <button id="btnSiguienteFase1" class="btn btn-success" onclick="avanzarFase(1)" disabled data-id-estudiante="">Siguiente Fase</button>
                    {% endif %}
                  </div>
                </div>
                <!-- Agregado un botón de siguiente fase para la fase 3 -->
                <button id="btnSiguienteFase3" class="btn btn-success" onclick="avanzarFase(3)" style="display: none;" >Siguiente Fase 3</button>
                <div id="detalles_fase3" style="display: none;">
                    <h5>Detalles de la Fase 3</h5>
                    <!-- Agrega aquí los detalles de la fase 3 -->
                </div>
              </div>
            </div>
          </div>
          <div id="mensajeTransformacion" class="fixed-bottom text-center" style="display: none; width: 100%;">
            <div id="mensajeContenido" class="alert alert-success" role="alert" style="font-size: smaller; max-width: 200px; display: inline-block;">Transformación exitosa</div>
          </div>
        </div>
      </div>
    </div>

    {% if transformacion_exitosa %}
    <script>
      var mensajeTransformacion = document.getElementById('mensajeTransformacion');
      var mensajeContenido = document.getElementById('mensajeContenido');
      mensajeContenido.innerText = "La transformación se realizó correctamente.";
      mensajeTransformacion.style.display = 'block';

      setTimeout(function() {
        mensajeTransformacion.style.display = 'none';
      }, 5000); // Ocultar el mensaje después de 5 segundos
      // Habilitar el botón de siguiente fase solo si la transformación fue exitosa
      var btnSiguienteFase = document.getElementById('btnSiguienteFase2');
      btnSiguienteFase.disabled = false;

      // Cambiar color de la fase 2
      var fase2 = document.getElementById('fase2');
      fase2.classList.add('completo');
    </script>
    {% endif %}
  </div>
  
</section>

<style>
  .fase {
    display: block;
    width: auto; /* Ancho automático */
    margin-bottom: 10px;
    text-align: left; /* Alineación a la izquierda */
  }

  .completo {
    background-color: #f1c40f; /* Amarillo */
  }

  .card-body div {
    margin-bottom: 20px;
  }

  .list-group-item {
    cursor: pointer;
  }

  .list-group-item:hover {
    background-color: #f4f4f4; /* Color de fondo al pasar el cursor */
  }

  .list-group-item.seleccionado {
    background-color: #3498db; /* Color de fondo del elemento seleccionado */
    color: #fff; /* Color del texto del elemento seleccionado */
  }

  #mensajeTransformacion {
    position: fixed;
    bottom: 140px;
    left: 90%; /* Centra inicialmente el mensaje */
    transform: translateX(-50%);
    
  }
</style>

  

<script>
  // Función para manejar la selección de un estudiante
  function seleccionarEstudiante(estudianteId) {
     // Agregar clase 'seleccionado' al estudiante seleccionado
    var listaEstudiantes = document.getElementById('lista_estudiantes').children;
    for (var i = 0; i < listaEstudiantes.length; i++) {
        listaEstudiantes[i].classList.remove('seleccionado');
    }
    event.target.classList.add('seleccionado');

    // Establecer el estudiante seleccionado en el botón de siguiente fase correspondiente
    var btnSiguienteFase = document.getElementById('btnSiguienteFase1');
    btnSiguienteFase.dataset.idEstudiante = estudianteId; // Corregido aquí
    btnSiguienteFase.disabled = false;
  }

  // Simulación de completar una fase (cambia el color a amarillo)
  function completarFase(numFase) {
    var fase = document.getElementById('fase' + numFase);
    fase.classList.add('completo');

    // Habilitar botón de siguiente fase correspondiente
    var btnSiguienteFase = document.getElementById('btnSiguienteFase' + numFase);
    btnSiguienteFase.disabled = false;
  }

  // Función para mostrar los detalles de una fase
  function mostrarDetalles(idFase) {
    // Ocultar todos los detalles
    document.getElementById('detalles_fase1').style.display = 'none';
    document.getElementById('detalles_fase2').style.display = 'none';
    document.getElementById('detalles_fase3').style.display = 'none';
    document.getElementById('detalles_fase4').style.display = 'none';

    // Mostrar los detalles de la fase correspondiente
    document.getElementById('detalles_' + idFase).style.display = 'block';

    // Mostrar u ocultar botones según la fase
    if (idFase === 'fase2') {
      document.getElementById('btnDetallesEstudiante').style.display = 'inline-block';
      document.getElementById('btnSiguienteFase2').style.display = 'inline-block';
    } else {
      document.getElementById('btnDetallesEstudiante').style.display = 'none';
      document.getElementById('btnSiguienteFase2').style.display = 'none';
    }

    if (idFase === 'fase3') {
        document.getElementById('btnDetallesEstudiante').style.display = 'inline-block';
        document.getElementById('btnSiguienteFase3').style.display = 'inline-block';
    } else {
        document.getElementById('btnDetallesEstudiante').style.display = 'none';
        document.getElementById('btnSiguienteFase3').style.display = 'none';
    }
  }

  // Función para avanzar a la siguiente fase si la actual está completada
  function avanzarFase(numFase) {
    var btnSiguienteFase = document.getElementById('btnSiguienteFase' + numFase);
    var idEstudiante = btnSiguienteFase.dataset.idEstudiante;
    // Guardar el estado actual de la fase en el almacenamiento local
    localStorage.setItem('faseActual', numFase);
    // Redirigir a la página correspondiente a la fase actual
    if (numFase === 1) {
        // Para la fase 1, usar el ID del estudiante
        var url = '{% url 'detalle_estudiante_tdah' estudiante_id=0 %}'.replace('0', idEstudiante);
    } else {
        // Para otras fases, simplemente ir a la vista de progreso de fases
        var url = '{% url 'listar_estudiantes_tdah' %}';
    }
    window.location.href = url;  
  }

  // Función para mostrar u ocultar los detalles del estudiante
  function toggleDetallesEstudiante() {
    var detallesEstudiante = document.getElementById('detalles_estudiante');
    var btnOcultar = document.getElementById('btnOcultarDetallesEstudiante');

    if (detallesEstudiante.style.display === 'none') {
      detallesEstudiante.style.display = 'block';
      btnOcultar.style.display = 'inline-block';
    } else {
      detallesEstudiante.style.display = 'none';
      btnOcultar.style.display = 'none';
    }
  }

  // Ejemplo de uso
  // completarFase(1); // Simula completar la fase 1
  // Función para mostrar los detalles de la fase guardada en el almacenamiento local al cargar la página
  
  function transformarDatos() {
    console.log("Se hizo clic en el botón Transformar Datos.");
    var idEstudiante = document.querySelector('input[name="estudiante_id"]').value;
    console.log("ID del estudiante:", idEstudiante);
    
    // Realizar otras operaciones necesarias
    
    // Envío del formulario
    var transformarForm = document.getElementById('transformarForm');
    transformarForm.submit();

    // Mostrar mensaje en HTML
    var mensajeTransformacion = document.getElementById('mensajeTransformacion');
    var mensajeContenido = document.getElementById('mensajeContenido');
    mensajeContenido.innerText = "{% if transformacion_exitosa %}La transformación se realizó correctamente.{% else %}La transformación no se realizó correctamente.{% endif %}";
    
    // Habilitar el botón de siguiente fase solo si la transformación fue exitosa
    var btnSiguienteFase = document.getElementById('btnSiguienteFase2');
    btnSiguienteFase.disabled = false;
    
    // Ocultar el mensaje después de 5 segundos
    setTimeout(function() {
      mensajeTransformacion.style.display = 'none';
    }, 5000); // 5000 milisegundos = 5 segundos
    
  }

  window.onload = function() {
    var faseGuardada = localStorage.getItem('faseActual');
    var transformacionExitosa = localStorage.getItem('transformacion_exitosa');
    
    if (faseGuardada) {
        mostrarDetalles('fase' + faseGuardada);
    }
  }

</script>
{% endblock %}
