{% extends 'layout.html' %}
{% load static %}
{% block content %}
<section class="section">
  <div class="container mt-4">
    <div class="section-body">
      <div class="row justify-content-center">
        <div class="col-md-12 col-md-10">
          <div class="card card-primary">
            <div class="card-header bg-fdb515">
              <h4 class="text-white">Módulo Predictivo</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <ul id="fases"> <!-- Alineación a la izquierda -->
                    <li id="fase1" class="fase btn btn-primary btn-lg completo">Fase 1: Selección</li>
                    <li id="fase2" class="fase btn btn-primary btn-lg" disabled>Fase 2: Ver bitacora</li>
                    <li id="fase3" class="fase btn btn-primary btn-lg" disabled>Fase 3: Carga</li>
                    <li id="fase4" class="fase btn btn-primary btn-lg" disabled>Fase 4: Predicción</li>
                  </ul>
                </div>
                <div class="col-md-9">
                  <div class="card">
                    <div class="card-header" id="faseTitulo">
                      <h4>Detalles de la Fase 1</h4>
                    </div>
                      
                        <div class="card-body" id="detalles_fase1">
                          <!-- Detalles de la fase 1 -->
                          <h5>Selección de estudiante a predecir</h5>
                          <p>Seleccionar un estudiante de la lista.</p>
                          <div class="list-group" id="lista_estudiantes">
                            {% for planificacion in estudiantes_tdah %}
                              <a href="#" class="list-group-item list-group-item-action" onclick="seleccionarEstudiante('{{ planificacion.estudiante.pk }}')"> <!-- Corregido aquí -->
                                {{ planificacion.estudiante.nombre_completo }}
                              </a>
                            {% endfor %}
                          </div>
                          <button id="btnSiguienteFase1" class="btn btn-success" onclick="avanzarFase(1)" disabled data-id-estudiante="{{ estudiante.id }}">Siguiente Fase</button>
                        </div>
                        <!-- Detalles de la fase 2 -->
                        <div class="card-body" id="detalles_fase2" style="display: none;">
                          <div>
                            <h6 class="card-text">Estudiante: {{ estudiante.nombre }} {{ estudiante.apellido }}</h6>
                          </div>
                          <h5>Fase 2: Visualizar los datos del estudiante</h5>
                          <div></div>
                              <div class="mb-3 d-flex flex-row">
                                <button class="btn btn-info mr-2" onclick="toggleDetallesEstudiante()">Detalles</button>
                                <form id="transformarForm" method="post" action="">
                                  {% csrf_token %}
                                  <input type="hidden" name="estudiante_id" value="{{ estudiante.id }}">
                                </form>
                                <button id="btnSiguienteFase2" class="btn btn-success" onclick="avanzarFaseYTransformar(2)"  disabled data-id-estudiante="{{ estudiante.id }}">Siguiente Fase</button>
                              </div>
                              
                              <!-- Detalles del estudiante (fase 2) -->
                              <div id="detalles_estudiante" style="display: none;">
                                <h5></h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Sexo</th>
                                                <th class="text-center">Edad</th>
                                                <th class="text-center">Observación de Conducta</th>
                                                <th class="text-center">Temas Trabajados</th>
                                                <th class="text-center">Avance</th>
                                                <th class="text-center">Asistencias</th>
                                                <!-- Agrega otros campos según sea necesario -->
                                            </tr>
                                        </thead>
                                        <tbody id="detalles_estudiante_body">
                                          {% for bitacora in bitacoras %}
                                            <tr>
                                                <td class="text-center">{{ estudiante.genero }}</td>
                                                <td class="text-center">{{ estudiante.edad }}</td>
                                                <td class="text-center">{{ bitacora.observacion_conducta }}</td>
                                                <td class="text-center">{{ bitacora.temas_trabajados }}</td>
                                                <td class="text-center">{{ bitacora.avance }}</td>
                                                <td class="text-center">{{ bitacora.asistencias }}</td>
                                                <!-- Aquí debes acceder a los otros campos del estudiante según sea necesario -->
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btn-danger" id="btnOcultarDetallesEstudiante" style="display: none;" onclick="toggleDetallesEstudiante()">Ocultar</button>
                              </div>
                    
                        
                        </div>
                        
                        <div class="card-body" id="detalles_fase3" style="display: none;">
                          <!-- Detalles de la fase 3 -->
                          <!-- Agrega los detalles de la fase 3 aquí -->
                          <div>
                            <h6 class="card-text">Estudiante: {{ estudiante.nombre }} {{ estudiante.apellido }}</h6>
                          </div>
                          <h5>Fase 3: Carga del Modelo</h5>
                          <!-- Agregar el formulario para cargar el modelo -->
                        
                            <form id="cargarModeloForm" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="form-group">
                                  <label for="modelo_pkl">Seleccionar archivo del modelo (.pkl)</label>
                                  <input type="file" class="form-control-file mr-2" id="modelo_pkl" name="modelo_pkl" accept=".pkl" onchange="cargarModelo()">
                              </div>
                              <button id="btnCargarModelo" class="btn btn-primary mb-4" type="submit">Cargar Modelo</button>
                            </form>
                            
                            <button id="btnSiguienteFase3" class="btn btn-success" onclick="avanzarFase(3)" data-id-estudiante="{{ estudiante.id }}">Utilizar el modelo predeterminado</button>
                          
                        </div>
                        
                        <div class="card-body" id="detalles_fase4" style="display: none;">
                          <div>
                            <h6 class="card-text">Estudiante: {{ estudiante.nombre }} {{ estudiante.apellido }}</h6>
                          </div>
                          <h5>Fase 4: Realizar Predicción</h5>
                          <p>Detalles de la predicción.</p>
                          <button class="btn btn-primary" onclick="realizarPrediccion()" >Realizar Predicción</button>
                          <button class="btn btn-info" onclick="redirigirDetallePrediccion()">Reporte</button>
                          <!-- Sección para mostrar el resultado de la predicción -->
                          <div id="resultado_prediccion" style="display: none;">
                            <div></div>
                            <h4 class="mb-3 text-center">Resultado de la Predicción</h4>
                            <p class="h2 text-primary text-center">¡Análisis Completado!</p>
                            <p class="lead mt-3 text-center">Según el modelo, el niño tiene un <span id="resultado" style="color: red; font-size: 20px;">{{ prediccion }}</span> avance en la lectoescritura</p>
                            <ul id="temas_relevantes">
                              
                            </ul>
                            <div id="mensaje_recomendacion" style="display: none; text-align: center; margin-top: 20px;">
                              <!-- Mensaje de recomendación aquí -->
                            </div>

                          </div>
                          <div id="mensaje_error" style="display: none;">
                            {{ mensaje_error }}
                          </div>
                          <!-- Agrega los campos y botones necesarios para la fase 4 -->
                          <a id="btnSiguienteFase4" class="btn btn-success" href="/progreso_fases/" data-id-estudiante="{{ estudiante.id }}">Finalizar</a>

                        </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          
      </div>

    
      {% if mensaje_confirmacion %}
      <div class="alert alert-success" role="alert">
        {{ mensaje_confirmacion }}
      </div>
      {% endif %}
      {% if mensaje_error %}
      <div class="alert alert-success" role="alert" id="mensaje_error">
        {{ mensaje_error }}
      </div>
      {% endif %}

    </div>
  </div>
</section>

<style>
  .fase {
    display: block;
    width: auto; /* Ancho automático */
    margin-bottom: 10px;
    text-align: left; /* Alineación a la izquierda */
  }

  .completo {
    background-color: #1cb424; /* Amarillo */
  }

  .card-body div {
    margin-bottom: 20px;
  }

  .list-group-item {
    cursor: pointer;
  }

  .list-group-item:hover {
    background-color: #f4f4f4; /* Color de fondo al pasar el cursor */
  }

  .list-group-item.seleccionado {
    background-color: #3498db; /* Color de fondo del elemento seleccionado */
    color: #fff; /* Color del texto del elemento seleccionado */
  }

  #mensajeTransformacion {
    position: fixed;
    bottom: 140px;
    left: 90%; /* Centra inicialmente el mensaje */
    transform: translateX(-50%);
  }
   /* Agrega estilos personalizados aquí */
   .card {
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
    .bg-fdb515 {
        background-color: #FDB515 !important; /* Agrega !important para asegurar que el color se aplique */
    }
    .text-white {
    color: #16161d !important;
    }
    .tema-relevante {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Centrar el texto */
    font-size: 18px; /* Aumentar el tamaño de la fuente */
    }
</style>


<script>
  // Función para manejar la selección de un estudiante
  function seleccionarEstudiante(estudianteId) {
     // Agregar clase 'seleccionado' al estudiante seleccionado
    var listaEstudiantes = document.getElementById('lista_estudiantes').children;
    for (var i = 0; i < listaEstudiantes.length; i++) {
        listaEstudiantes[i].classList.remove('seleccionado');
    }
    event.target.classList.add('seleccionado');

    // Establecer el estudiante seleccionado en el botón de siguiente fase correspondiente
    var btnSiguienteFase1 = document.getElementById('btnSiguienteFase1');
    btnSiguienteFase1.dataset.idEstudiante = estudianteId; // Corregido aquí
    btnSiguienteFase1.disabled = false;
  }

    // Simulación de completar una fase (cambia el color)
  function completarFase(numFase) {
    var fase = document.getElementById('fase' + numFase);
    fase.classList.add('completo');
    localStorage.setItem('fase' + numFase + '_completo', 'true');
  }

  // Función para mostrar los detalles de una fase
  function mostrarDetalles(idFase) {
    // Ocultar todos los detalles
    document.getElementById('detalles_fase1').style.display = 'none';
    document.getElementById('detalles_fase2').style.display = 'none';
    document.getElementById('detalles_fase3').style.display = 'none';
    document.getElementById('detalles_fase4').style.display = 'none';

    // Mostrar los detalles de la fase correspondiente
    document.getElementById('detalles_' + idFase).style.display = 'block';

    // Completar la fase solo si no está completada
    var faseCompleta = localStorage.getItem('fase' + idFase + '_completo');
    if (faseCompleta === 'true') {
        completarFase(idFase);
    }
    // Mostrar u ocultar botones según la fase
    if (idFase === 'fase') {
      document.getElementById('btnDetallesEstudiante').style.display = 'inline-block';
      document.getElementById('btnSiguienteFase2').style.display = 'inline-block';
      
    } else {
      document.getElementById('btnDetallesEstudiante').style.display = 'none';
      document.getElementById('btnSiguienteFase2').style.display = 'none';
    }
    

    // Cambiar el título de la fase
    document.getElementById('faseTitulo').innerHTML = "<h2>Detalles de la Fase " + idFase + "</h2>";
  }

  // Función para avanzar a la siguiente fase si la actual está completada
  function avanzarFase(numFase) {
    // Aquí puedes agregar lógica adicional si es necesario antes de avanzar a la siguiente fase
    var btnSiguienteFase = document.getElementById('btnSiguienteFase' + numFase);
    var idEstudiante = btnSiguienteFase.dataset.idEstudiante;
    
    // Guardar el estado actual de la fase en el almacenamiento local
    localStorage.setItem('faseActual', numFase);
    // Cambiar el color de la fase actual
    // Actualizar el estado de completitud de la fase actual en el almacenamiento local
    localStorage.setItem('fase' + numFase + '_completo', 'true');
    // Verificar si todas las fases anteriores están completadas
  
   
    var url = '';
    switch (numFase+1) {
      case 2:
          url = '{% url 'transformar_datosF' estudiante_id=0 %}'.replace('0', idEstudiante);
          break;
      case 3:
          url = '{% url 'cargar_modelo' estudiante_id=0 %}'.replace('0', idEstudiante);
          break;
      case 4:
          url = '{% url 'realizar_prediccion' estudiante_id=0 %}'.replace('0', idEstudiante);
          break;
      default:
          break;
      }

    // Ocultar los detalles de la fase actual
    document.getElementById('detalles_fase' + numFase).style.display = 'none';
    // Mostrar los detalles de la fase siguiente
    var siguienteNumFase = numFase + 1;
    document.getElementById('detalles_fase' + siguienteNumFase).style.display = 'block';

    // Cambiar el título de la fase
    window.location.href = url;

  }

  // Función para mostrar u ocultar los detalles del estudiante
  function toggleDetallesEstudiante() {
    var detallesEstudiante = document.getElementById('detalles_estudiante');
    var btnOcultar = document.getElementById('btnOcultarDetallesEstudiante');
    if (detallesEstudiante.style.display === 'none') {
      detallesEstudiante.style.display = 'block';
      btnOcultar.style.display = 'inline-block';
    } else {
      detallesEstudiante.style.display = 'none';
      btnOcultar.style.display = 'none';
    }
  }


  
  function avanzarFaseYTransformar(numFase) {
    // Realizar la solicitud AJAX para transformar los datos
    var idEstudiante = document.getElementById('btnSiguienteFase2').getAttribute('data-id-estudiante');
    var url = '{% url 'transformar_datosF' estudiante_id=0 %}'.replace('0', idEstudiante);
    fetch(url,{
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({}),
    })
    .then(response => response.json())
    .then(data => {
        if (data.transformacion_exitosa) {
            // Si la transformación fue exitosa, avanzar a la siguiente fase
            avanzarFase(numFase);
        } else {
            // Manejar caso de transformación no exitosa si es necesario
        }
    })
    .catch(error => {
        console.error('Error en la solicitud AJAX:', error);
    });
  }


    // Función para manejar la carga del modelo
  function cargarModelo() {
    var mensajeCargaModelo = document.getElementById('mensajeCargaModelo');
    var btnSiguienteFase3 = document.getElementById('btnSiguienteFase3');

    // Mostrar un mensaje de confirmación cuando se haya cargado el modelo
    mensajeCargaModelo.innerText = "Modelo cargado exitosamente.";
    mensajeCargaModelo.style.display = 'block';
    // Almacenar el estado de la carga del modelo en el almacenamiento local
    localStorage.setItem('modelo_cargado', 'true');
     // Habilitar el botón de siguiente fase 3
    btnSiguienteFase3.disabled = false;
  }


  function realizarPrediccion() {
    // Realizar la solicitud POST al servidor para realizar la predicción
      // Construye dinámicamente la URL con el ID del estudiante
    var idEstudiante = document.getElementById('btnSiguienteFase4').getAttribute('data-id-estudiante');
    var url = '{% url 'realizar_prediccion' estudiante_id=0 %}'.replace('0', idEstudiante);
    fetch(url, {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({})
    })
    .then(response => response.json())
    .then(data => {
        // Mostrar el resultado de la predicción
        document.getElementById('resultado').innerText = data.prediccion;
        var temasRelevantesHTML = '';
        data.temas_relevantes.forEach(tema => {
            var texto = tema.length > 1 ? 'Mejorar en ' + tema : 'Mejorar la letra ' + tema;
            temasRelevantesHTML += '<div class="tema-relevante">' + texto + '</div>';
        });
        document.getElementById('temas_relevantes').innerHTML = temasRelevantesHTML;
        document.getElementById('resultado_prediccion').style.display = 'block';

        // Mostrar mensaje basado en la predicción
        var mensajeRecomendacion = document.getElementById('mensaje_recomendacion');
        if (data.prediccion == 'Alto') {
            mensajeRecomendacion.innerHTML = '¡Felicidades! El estudiante ha alcanzado un avance alto. No se necesitan más temas. Para un avance equilibrado, considera trabajar en los siguientes temas y sesiones.';
        } else {
            mensajeRecomendacion.innerHTML = 'Se recomienda seguir trabajando en los anteriores temas hasta alcanzar un mínimo de 4 sesiones en cada uno.';
        }
        mensajeRecomendacion.style.display = 'block';
    })
    .catch(error => {
        console.error('Error al realizar la predicción:', error);
    });
  }

  function siguienteFase2Click() {
    // Transformar los datos antes de avanzar a la siguiente fase
    transformarDatos();
    // Luego, avanzar a la fase 2
    avanzarFase(2);
  }


  function redirigirDetallePrediccion() {
    var idEstudiante = document.getElementById('btnSiguienteFase4').getAttribute('data-id-estudiante');
    var url = '/exportar_prediccion/' + idEstudiante + '/';

    // Crear un elemento <a> temporal para descargar el archivo
    var link = document.createElement('a');
    link.href = url;
    link.download = 'detalle_prediccion_' + idEstudiante + '.pdf';
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  }


  window.onload = function() {
    
    var faseGuardada = localStorage.getItem('faseActual');

    var btnSiguienteFase2 = document.getElementById('btnSiguienteFase2');
    var estadoAlmacenado = localStorage.getItem('btnSiguienteFase2_estado');
    // Si el estado almacenado está deshabilitado, deshabilitar el botón de siguiente fase 2, de lo contrario, habilitarlo
    btnSiguienteFase2.disabled = estadoAlmacenado === 'disabled';
    
    // Obtener el estado de completitud de las fases anteriores y cambiar los colores en consecuencia
    for (var i = 1; i <= faseGuardada; i++) {
      var faseCompleta = localStorage.getItem('fase' + i + '_completo');
      completarFase(i+1);
        
    } 
    

    // Reiniciar el estado de completarFase solo si la URL actual corresponde a la página específica
    if (window.location.href.includes("/progreso_fases/")) {
        localStorage.clear(); // Reiniciar todos los datos almacenados en el localStorage
    }
    

    if (window.location.href.includes("/transformar_datos/")) {
        faseGuardada = 2;
        document.getElementById('faseTitulo').innerHTML = "<h4>Detalles de la Fase " + (2) + "</h4>";
        completarFase(2);
        
    } else if (window.location.href.includes("/cargar_modelo/")) {
        faseGuardada = 3;
        document.getElementById('faseTitulo').innerHTML = "<h4>Detalles de la Fase " + (3) + "</h4>";
        completarFase(3);
    } else if (window.location.href.includes("/realizar_prediccion/")) {
        faseGuardada = 4;
        document.getElementById('faseTitulo').innerHTML = "<h4>Detalles de la Fase " + (4) + "</h4>";
        completarFase(4);
        
    } else {
      mostrarDetalles('fase1');
     
    }
    // Mostrar los detalles de la fase guardada, si existe
    mostrarDetalles('fase' + faseGuardada);
  }




  function abrirReporte() {
    // Lógica para abrir el reporte
    window.location.href = '/ruta/a/tu/otro/html'; // Reemplaza '/ruta/a/tu/otro/html' con la ruta correcta a tu otro HTML
  }

  function finalizar() {
    window.location.href = '/progreso_fases/'
  }
 


</script>

{% endblock %}
