<!-- resultado_prediccion.html -->
{% extends 'layout.html' %}

{% block content %}
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Resultado de la Predicción</h4>
            </div>
            <div class="card-body">
              <p>La predicción es: {{ prediccion }}</p>
              <!-- Puedes agregar más detalles o personalizaciones según tus necesidades -->
              <p>Temas Recomendados basados en importancia:</p>
              <ul>
                {% for tema in temas_relevantes %}
                  <li>{{ tema }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
