{% extends 'layout.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h2 class="textos-aliados">Servicios individualizados</h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-4 items-aliados">
                  <ul class="nav nav-pills flex-column" id="myTab4" role="tablist">
                    {% for colab in servicios %}
                      {% if forloop.counter == 1 %}
                        <li class="nav-item">
                          <a class="nav-link active" id="{{colab.nombre}}-tab4" data-toggle="tab" href="#{{colab.nombre}}" role="tab" aria-controls="home" aria-selected="true">{{ colab.nombre }}</a>
                        </li>
                      {% else %}
                        <li class="nav-item">
                          <a class="nav-link" id="{{colab.nombre}}-tab4" data-toggle="tab" href="#{{colab.nombre}}" role="tab" aria-controls="home" aria-selected="true">{{ colab.nombre }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-8">
                  <div class="tab-content no-padding contenido-aliados" id="myTab2Content">
                    {% for colab_desc in servicios %}
                      {% if forloop.counter == 1 %}
                        <div class="tab-pane fade show active" id="{{colab_desc.nombre}}" role="tabpanel" aria-labelledby="{{colab_desc.nombre}}-tab4">
                          <div class="card mb-3">
                              <!-- <img src="{{ colab_desc.imagen.url }}" class="card-img-top" alt="...">-->
                              <div class="card-body">
                                <p class="card-text">{{ colab_desc.descripcion }}</p>
                              </div>
                              <div class="card-footer">
                                <a href="https://fundacioncaje.org/" class="btn btn-success" target="_blank"><i class="fas fa-eye"></i> Conócelos</a>
                              </div>
                          </div>
                          <div class="row">
                            <div class="card col-6">
                              <!--<img src="{% static 'img/aliados/Logos-PADF-.png' %}" class="card-img-top" alt="...">-->
                              <div class="card-footer">
                                <a href="https://www.padf.org/ecuador/" class="btn btn-success" target="_blank"><i class="fas fa-eye"></i> Conócelos</a>
                              </div>
                            </div>
                            <div class="card col-6">
                              <!--<img src="{% static 'img/aliados/Logos-color.png' %}" class="card-img-top" alt="...">-->
                              <div class="card-footer">
                                <a href="https://www.usaid.gov/es/ecuador" class="btn btn-success" target="_blank"><i class="fas fa-eye"></i> Conócelos</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% else %}
                        <div class="tab-pane fade show" id="{{colab_desc.nombre}}" role="tabpanel" aria-labelledby="{{colab_desc.nombre}}-tab4">
                          <div class="card mb-3">
                              <!--<img src="{{ colab_desc.imagen.url }}" class="card-img-top" alt="...">-->
                              <div class="card-body">
                                <h5 class="card-title">{{ colab_desc.nombre }}</h5>
                                <p class="card-text">{{ colab_desc.descripcion }}</p>
                              </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="section">
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card card-noticias">
          <div class="card-header">
            <h4>Últimas Publicaciones <i class="fas fa-newspaper"></i></h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-4 col-lg-4">

              </div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block plugins_js %} 
<script>
  const sr = ScrollReveal({
      origin: 'top',
      distance: '60px',
      duration: 2500,
      delay:400,
      reset:true,
  })
  
sr.reveal('.textos-aliados',{delay:300});
  sr.reveal('.items-aliados', {delay:500});
  sr.reveal('.contenido-aliados',{delay:700, origin:'left'});
  sr.reveal('.card-noticias', {delay:800, origin:'top'});
  sr.reveal('.article-post', {delay:850, origin:'top'})
{% comment %}     sr.reveal('.home__description, .footer__description', {delay:500});
  sr.reveal('.home__search', {delay:600});
  sr.reveal('.home__value', {delay:700});
  sr.reveal('.home__images', {delay:800, origin: 'bottom'});
  sr.reveal('.logos__img', {interval:100});
  sr.reveal('.value__images, .contact__content', {origin:'left'});
  sr.reveal('.value__content .contact__images', {origin:'right'}); {% endcomment %}
</script>
{% endblock %}