{% extends 'layout.html' %}
{% load static %}
{% block content %}
<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
        <div class="card card-primary">
          <div class="card-header"><h4>Crear Nueva Planificacion</h4></div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data" autocomplete='off'>
              {% csrf_token %}
              <div class="form-group">
                {{ form.estudiante.label }}
                {{ form.estudiante }}
              </div>
              
              <div class="row">
                <div class="form-group col-6">
                  {{ form.diagnostico.label }}
                  {{ form.diagnostico}}
                </div>
                <div class="form-group col-6">
                  {{ form.edad_biologica.label }}
                  {{ form.edad_biologica }}
                </div>
                <div class="form-group col-6">
                  {{ form.edad_cognitiva_lenguaje_verbal.label }}
                  {{ form.edad_cognitiva_lenguaje_verbal }}
                </div>
                <div class="form-group col-6">
                  {{ form.edad_cognitiva_lenguaje_comprensivo.label }}
                  {{ form.edad_cognitiva_lenguaje_comprensivo }}
                </div>
              </div>
            
              <div class="form-group">
                <div class="text-center mt-4 mb-3">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">
                    Registrar Estudiante
                  </button>
                  <a href="{% url 'listar_planificacion' %}" class="btn btn-secondary mt-3">Volver</a>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}


