{% extends 'layout.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="section-body">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header bg-fdb515">
                        <h4 class="text">Detalles de la planificación semanal <i class="fa fa-eye"></i></h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" >
                                <tr>
                                    <th>Planificación:</th>
                                    <td>{{ semana.planificacion }}</td>
                                </tr>
                                <tr>
                                    <th>Número de semana:</th>
                                    <td>{{ semana.numero_semana }}</td>
                                </tr>
                                <tr>
                                    <th>Tiempo previsto:</th>
                                    <td>{{ semana.tiempo_previsto }}</td>
                                </tr>
                                <tr>
                                    <th>Objetivo:</th>
                                    <td>{{ semana.objetivo }}</td>
                                </tr>
                            </table>
                            <table class="table table-striped" id="sortable-table">
                                <thead>
                                    <tr>
                                        <th>Actividad de lenguaje</th>
                                        <th>Actividad Cognitiva</th>
                                        <th>Actividad sensorial</th>
                                        
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>{{ semana.actividad_lenguaje }}</td>
                                        <td>{{ semana.actividad_cognitiva }}</td>
                                        <td>{{ semana.actividad_sensorial }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped" id="sortable-table">

                                <tr>
                                    <th>Actividades internalizadas:</th>
                                    <td>{{ semana.actividades_internalizadas }}</td>
                                </tr>
                                <tr>
                                    <th>Actividades que requieren continuar reforzando:</th>
                                    <td>{{ semana.actividades_reforzar }}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <a href="{% url 'listar_p_semana' pk=semana.pk %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    /* Agrega estilos personalizados aquí */
    .card {
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
    .bg-fdb515 {
        background-color: #FDB515 !important; /* Agrega !important para asegurar que el color se aplique */
    }
    
    .text {
        color: #16161d !important; /* Cambia el color del texto a negro */
    }
</style>
{% endblock content %}
