{% extends 'layout.html' %}
{% load static %}
{% block content %}

<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
        <div class="card">
          <div class="card-header bg-fdb515">
            <h4 class="text-white">Registar Administrador <i class="fas fa-user" aria-hidden="true"></i></h4>
          </div>
          <div class="card-body">

            <form method="POST" enctype="multipart/form-data" autocomplete='off'>
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-6">
                  {{ usuario_forms.nombre.label }}
                  {{ usuario_forms.nombre }}
                </div>
                <div class="form-group col-6">
                  {{ usuario_forms.apellido.label }}
                  {{ usuario_forms.apellido }}
                </div>
                <div class="form-group col-6">
                  {{ usuario_forms.celular.label }}
                  {{ usuario_forms.celular }}
                  {% if form.celular.errors %}
                    <div class="alert alert-danger error-message">
                        {{ form.celular.errors }}
                    </div>
                  {% endif %}
                </div>
                <div class="form-group col-6">
                  {{ usuario_forms.direccion.label }}
                  {{ usuario_forms.direccion }}
                </div>
              </div>

              <div class="form-group">
                {{ usuario_forms.email.label }}
                {{ usuario_forms.email }}
              </div>

              <div class="row">
                <div class="form-group col-6">
                  {{ usuario_forms.username.label }}
                  {{ usuario_forms.username }}
                </div>
                <div class="form-group col-6">
                  {{ usuario_forms.password.label }}
                  {{ usuario_forms.password }}
                </div>
              </div>
              <div class="form-group">
                {{ usuario_forms.foto.label }}
                {{ usuario_forms.foto }}
              </div>
              <div class="form-group">
                <div class="text-center mt-4 mb-3">
                  <button type="submit" class="btn btn-primary btn-lg">
                    Registrar Administrador
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  /* Agrega estilos personalizados aquí */
  .card {
      margin-top: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  .bg-fdb515 {
      background-color: #FDB515 !important; /* Agrega !important para asegurar que el color se aplique */
  }
  .text-white {
      color: #16161d !important; /* Cambia el color del texto a negro */
  }

</style>

{% endblock content %}


