{% extends 'layout.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="section-body">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow">
                    <div class="card-header bg-fdb515">
                        <h4 class="text">Editar Representante <i class="fas fa-edit"></i></h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="card-text text-md-right">Nombre:</label>
                                            {{ form.nombre }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="card-text text-md-right">Apellido:</label>
                                            {{ form.apellido }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="card-text text-md-right">Teléfono:</label>
                                            {{ form.telefono }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="card-text text-md-right">Celular:</label>
                                            {{ form.celular }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="card-text text-md-right">Email:</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="card-text text-md-right">Cédula:</label>
                                            {{ form.cedula }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="card-text text-md-right">Servicios:</label>
                                            {{ form.servicios }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="card-text text-md-right"> Otra terapia:</label>
                                            {{ form.otra_terapia }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="card-text text-md-right"> ¿Como conocio la institucion?:</label>
                                            {{ form.conocido }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="card-text text-md-right"> Observacion:</label>
                                            {{ form.observacion }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                                <a href="{% url 'listar_representantes' %}" class="btn btn-secondary btn-lg ml-3">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    /* Agrega estilos personalizados aquí */
    .card {
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
    .bg-fdb515 {
        background-color: #FDB515 !important; /* Agrega !important para asegurar que el color se aplique */
    }
    th {
        width: 40%;
        text-align: right;
        vertical-align: top;
        background-color: #f2f2f2;
    }
    td {
        padding-left: 10px;
    }
    .text {
        color: #16161d !important; /* Cambia el color del texto a negro */
    }
</style>

{% endblock content %}
