{% extends 'layout.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Detalles del Representante <i class="fas fa-user"></i></h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th>Nombre:</th>
                                    <td>{{ object.nombre }}</td>
                                </tr>
                                <tr>
                                    <th>Apellido:</th>
                                    <td>{{ object.apellido }}</td>
                                </tr>
                                <tr>
                                    <th>Telefono:</th>
                                    <td>{{ object.telefono }}</td>
                                </tr>
                                <tr>
                                    <th>Celular:</th>
                                    <td>{{ object.celular }}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>{{ object.email }}</td>
                                </tr>
                                <tr>
                                    <th>Cedula:</th>
                                    <td>{{ object.cedula }}</td>
                                </tr>
                                <tr>
                                    <th>Servicio:</th>
                                    <td>{{ object.servicios }}</td>
                                </tr>
                                <tr>
                                    <th>Otra_terapia:</th>
                                    <td>{{ object.otra_terapia }}</td>
                                </tr>
                                <tr>
                                    <th>¿ Como conocio nuestra institucion? :</th>
                                    <td>{{ object.conocido }}</td>
                                </tr>
                                <tr>
                                    <th>Observacion :</th>
                                    <td>{{ object.observacion }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'listar_representantes' %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    /* Agrega estilos personalizados aquí */
    .card {
        margin-top: 20px;
    }
    table {
        width: 100%;
    }
    th {
        width: 50%;
        text-align: right;
        vertical-align: top;
    }
    td {
        width: 70%;
        padding-left: 10px;
    }
</style>

{% endblock content %}
