{% load static %}
<footer class="main-footer">
    <div class="container py-5" style="background-color: #cdd3d8">
        <div class="row">
          <div class="col-md-4">
            <h3 style="color: #6777ef">Novedades</h3>
          
            <p class="text-justify" style="font-size: 18px; color: #6c757d;">
              Centro aprendiendo juntos
            </p>
          </div>
          <div class="col-md-4">
            <h3 style="color: #6777ef">Información</h3>
            <p style="font-size: 18px; color: #6c757d;"><b>Oficina central: </b>Loja</p>
            <p style="font-size: 18px; color: #6c757d;"><b>Calle: </b>Terminal</p>
            <p style="font-size: 18px; color: #6c757d;"><b>Teléfono: </b>(07)2104351</p>
            <p style="font-size: 18px; color: #6c757d;"><b>WhatsApp: </b>0985090815</p>
            <p style="font-size: 18px; color: #6c757d;"><b>Email:</b> <a href="mailto:funcaje@hotmail.com">aprendiendo@hotmail.com</a></p>

          </div>
          <div class="col-md-4">
            <h3 style="color: #6777ef;">Síguenos</h3>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#"><i class="fab fa-facebook" style="font-size: 40px;"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-3x" style="font-size: 40px;"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-3x" style="font-size: 40px;"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fab fa-youtube fa-3x" style="font-size: 40px;"></i></a></li>
            </ul>

            <ul class="list-inline">
              <li class="list-inline-item"><img img src="{% static 'img/inicio/LOGO-LABORATORIO.png' %}" style="width: 210px; height: 210px;"></li>
            </ul>
          </div>
          
        </div>
    </div>

</footer>